@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1 {
    background-color: blueviolet;
}.page2 {
    background-color: rgb(214, 226, 43);
}.page3 {
    background-color: rgb(43, 189, 226);
}.page4 {
    background-color: rgb(226, 43, 43);
}.page5 {
    background-color: rgb(226, 43, 156);
}

.interface {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}