@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right,#F2A999,#F2E1D8 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #261311;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4F7362;
    text-align: center;
    text-shadow: 1px 1px 2px #261311;
}
h2 {
    color: #BF6854;
}
p {
    text-align: justify;
}